/*
 * Nemesis FRC 2590 Main CSS
 *
 */
 
 /* this is the root css value, used
	as storage for doc wide variables only 
	
	NOT SUPPORTED BY [ANY] BROWSERS
	but near future hopefully
	
	usage is
	
	:root{ var-bgColor: #d6d6d6;}
	body{ background-color: var(bgColor); }
 */
 
 /* Global CSS Rules */
 body {
	background-color: #d6d6d6;
	color: #575656;
	font-family: Verdana, Helvetica, sans-serif;
 }
 a{
	text-decoration:none;
	color:#e62901
 }
 ul{
	list-style:none;
	padding:0px;
 }
 
 /* Container Class */
 /*
	CSS Classes are any style that will be
	applied to multipe div tags
 */
 .container {
 	width: 1100px;
	min-width:800px;
	overflow: hidden;
	margin:0px auto;
 }
 
 /* Header Styles */
  /*
	CSS Ids defined with # apply to one
	specific tag.
 */
 #header-home {
	margin-bottom: 20px;
 }
	#banner img{
		width:1100px;
	}
	#logo{
		position:absolute;
		padding-left:35px;
		top:45px;
		z-index:1;
	}
		#logo img{
			height:240px;
		}

/* Main Content */
 #main{
	background-color:#fff;
	display: table;
 }
	aside{
		display: table-cell;
	}
		#sidebar{
			padding-top:140px;
			padding-left:35px;
			width: 240px;
		}
		#sidebar img{
			margin: 10px 0 10px 0;
			width:240px;
		}
		#sidebar section{
			border-style: solid none;
			border-color: #e62901;
		}
		/* Navigation */
		nav{
			text-transform:uppercase;
		}
			nav li{
				margin: 0 0 25px 0;
			}
			nav a{
				color:#a4a4a4;
				-webkit-transition:color 0.3s ease;  
				-moz-transition:color 0.3s ease;  
				-o-transition:color 0.3s ease;  
				transition:color 1s ease;  
			}
			nav a:hover{
				color:#e62901; /*red*/
			}
	#content{
		display: table-cell;
		width: 760px:
	}

 /*Footer */
 footer{
	border-top:solid;
	border-color:#e62901;
	background-color:#575656;
	color:#fff;
	height:130px;
 }
 #foot{margin-top:20px}
	
