/*
 * Nemesis FRC 2590 Main CSS
 *
 */
 
 /* this is the root css value, used
	as storage for doc wide variables only 
	
	NOT SUPPORTED BY [ANY] BROWSERS
	but near future hopefully
	
	usage is
	
	:root{ var-bgColor: #d6d6d6;}
	body{ background-color: var(bgColor); }
 */
 
 /* Global CSS Rules */
 body {
	background-color: #d6d6d6;
	color: #575656;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
 }
 a{
	text-decoration:none;
	color:#e62901
 }
 ul{
	list-style:none;
	padding:0px;
 }
 
 /* Container Class */
 /*
	CSS Classes are any style that will be
	applied to multipe div tags
 */
 .container {
 	width: 1000px;
	min-width:800px;
	overflow: hidden;
	margin:0px auto;
 }
 
 /* Header Styles */
  /*
	CSS Ids defined with # apply to one
	specific tag.
 */
 #header-home {
	margin-bottom: 20px;
 }
	#banner img{
		width: 100%;
	}
	#nemesis{
		position:absolute;
		padding-left:30px;
		top:35px;
		z-index:1;
		min-width:800px;
	}
	#frc{
		display:inline-block;
		vertical-align:top;
		font-size:38px;
		padding-left:100px;
	}
	#logo{
		position:absolute;
		left:922px;
		top:35px;
		z-index:1;
	}
		#logo img{
			height:240px;
		}

/* Main Content */
 #main{
	background-color:#fff;
	display: table;
 }

 
 /* ////////////////////Michael */

#robot_header{
    text-transform:uppercase;
    font-size:30px;
    color:#ff0000;
    width: 635px;
    height: 2px;
    text-align:left;
    padding-top:10px;
    margin-bottom:20px;
    margin-top:20px;
   
    background-image:url('../images/div3_small.jpg');
    background-size: 100% 100%;

 #content{
	display: table-cell;
	width:75%;
}
.flexslider{
	display:inline-block;
	padding: 20px 0px 0px 40px;
	width:90%;
}
/*
.flex-viewport{
	height:500px;
}
*/
#section-container{
	margin: 0 0 30px 20px;
}
#spacer{
	margin-right:30px;

}

#robot{
	display: inline-block;
	padding-top: 20px;
    padding-right:30px;
	margin-left: auto;
	margin-right: auto;
	width:300px;
}
#robot2{
    display: inline-block;
	padding-top: 20px;
    padding-right:13px;
	margin-left: auto;
	margin-right: auto;
	width:200px;   
}

	#description{
		display: inline-block;
	}
	#robot .label{
        
        color:#ff0000;
        font-size:20px;
		width:300px;
        height:0px;
        text-align:left;
        margin-bottom:17px;
	}
    #robot2 .label{
        color:#ff0000;
        font-size:17px;
		width:200px;
        height:0px;
        text-align:left;
        margin-bottom:15px;
	}
	#desc{
        padding-top:10px;
    }

	/* Sidebar */
	aside{
		display: table-cell;
		vertical-align: top;
	}
		#sidebar{
			padding-top:140px;
			padding-left:35px;
			width: 240px;

	#sidebar{
		padding: 150px 30px 0 0px;
		width: 240px;
	}
	#sidebar img{
		margin: 10px 0 10px 0;
		width:240px;
	}
	#first img{
		width: 190px;
		margin-left: 20px;
		}
		#sidebar img{
			margin: 10px 0 10px 0;
			width:240px;
		}
		#first img{
			width: 190px;
			margin-left: 20px;
			}
		
		#sidebar section{
			border-style: solid none;
			border-color: #e62901;
		}
		/* Navigation */
		nav{
			text-transform:uppercase;
			font-size:14px;
		}
			nav li{
				margin: 0 0 25px 0;
			}
			nav a{
				color:#a4a4a4;
				-webkit-transition:color 0.3s ease;  
				-moz-transition:color 0.3s ease;  
				-o-transition:color 0.3s ease;  
				transition:color 1s ease;  
			}
			nav a:hover{
				color:#e62901; /*red*/
			}
	#content{
		display: table-cell;
		width: 760px:
	}
	.flexslider{
		display:inline-block;
		padding: 20px 0px 0px 40px;
		width:90%;
	}
	#section-container{
		margin: 0 0 0 40px;
	}
	#spacer{
		margin-right:30px;
	}
	#content section{
		width:45%;
		display:inline-block;
	}
		#content section img{
			width:100%;
		}
		.label{
			text-transform:uppercase;
			font-size:14px;
			color:#fff;
			width: 308px;
			height: 20px;
			text-align:center;
			padding-top:4px;
			margin-bottom:10px;
		}
		#robot-label{
			background-image:url('../images/div3_small.jpg');
			background-size: 100% 100%;
		}
		#twitter-label{
			background-image:url('../images/div4_small.jpg');
			background-size: 100% 100%;
		}
/* this targets the default scrollbar (compulsory) 
	doesn't affect twitter widget : therefore useless
	
 ::-webkit-scrollbar {width: 15px;} 
 ::-webkit-scrollbar-track {background-color: #d6d6d6;}
 ::-webkit-scrollbar-thumb {background-color: rgba(0, 0, 0, 0.2);}
 ::-webkit-scrollbar-button {background-color: #575656;}
::-webkit-scrollbar-corner {background-color: black;} */

 /*Footer */
 footer{
	border-top:solid;
	border-color:#e62901;
	background-color:#575656;
	color:#fff;
	height:130px;
 }
 #foot{margin-top:20px;
	}
 footer section{
	width:210px;
	margin-left:35px;
	margin-top:20px;
	display:inline-block;
	}
	
